############################
# ENV FILES (DB Credentials)
############################
.env
.env.*
!.env.example

############################
# Python
############################
env/
__pycache__/
*.pyc
*.pyo
*.pyd
# Python Virtual Environment
**/.venv/
**/venv/
############################
# Node
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# MySQL Dumps
############################
*.sql
*.sqlite3

############################
# Logs
############################
*.log

############################
# Build Folders
############################
dist/
build/

############################
# IDE
############################
.vscode/
.idea/

############################
# OS Files
############################
.DS_Store
Thumbs.db
